{% load static %}

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block 'title' %} {% endblock %} - IFRITIME</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="bg-auth">
    <header>
        {% include 'base/header.html' %}
    </header>
    <main>
        {% block 'main' %}
        {% endblock %}
    </main>
    <footer>
        {% include 'base/footer.html' %}
    </footer>
</body>

</html>