

{% extends 'base/base.html' %}

{% block 'title' %} ADMINISTRATION {% endblock %}


  
{% block 'main' %}
<style>
  .bg-auth {
      background-color: dodgerblue;
      background-size: cover;
  }
</style>


<div>
  <a href="{% url 'admin.creer.filiere' %}">Ajouter une filière</a>

  <a href="{% url 'admin.ajouter.salle' %}">Ajouter une salle</a>

  <a href="{% url 'admin.ajouter.semaine' %}">Ajouter une semaine</a>

  <a href="{% url 'admin.ajouter.matiere' %}">Ajouter une matiere</a>

  <a href="{% url 'admin.ajouter.enseignant' %}">Ajouter un enseignant</a>

  <a href="{% url 'admin.ajouter.niveau' %}">Ajouter un niveau d'étude</a>

  <a href="{% url 'admin.ajouter.programme' %}">Ajouter un programme</a>
</div>

<div>
<div>
  <li class="deroulant"><a href>Master&ensp;</a>
  <ul class="sous">
    <li><a href="">bonjour</a></li>
    {% for semaine in semaines %}
    <li><a href="{% url 'master' semaine.id %}">Semaine {{ nemuro_semaine }} </a></li>
    {% endfor %}
  </ul>
</li>

<nav class="after-auth" style="display: none;">
        <ul>
            <li class="deroulant"><a href>Ajouter programme&ensp;</a>
              <ul class="sous">
              {% for semaine in semaines %}
                <li><a href="{% url 'admin.ajouter.programme' semaine.id  %}">Semaine {{ semaine.nemuro_semaine }} </a></li>
              {% endfor %}
              </ul>
            </li>
            <li class="deroulant"><a href>Licence &ensp;</a>
                <ul class="sous">
                    <li><a href="{% url 'licence' 1 %}">Licence1</a></li>
                    <li><a href="{% url 'licence' 2 %}">Licence2</a></li>
                    <li><a href="{% url 'licence' 3 %}">Licence3</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
  

</div>


    <h2 class="titre">emplois du temps</h2>
    <table id="mon-tableau">
        <tr>
          <th><input type="text" placeholder="Semestre-Semaine" class="ss"></th>
          <th class="jours">Lundi</th>
          <th class="jours">Mardi</th>
          <th class="jours">Mercredi</th>
          <th class="jours">Jeudi</th>
          <th class="jours">Vendredi</th>
          <th class="jours">Samedi</th>
        </tr>
        <tr>
          <td class="lignes">Horraires</td>
          <td><input class="input" type="text" placeholder="premiere tranche d'heures"></td>
          <td><input class="input" type="text" placeholder="premiere tranche d'heures"></td>
          <td><input class="input" type="text" placeholder="premiere tranche d'heures"></td>
          <td><input class="input" type="text" placeholder="premiere tranche d'heures"></td>
          <td><input class="input" type="text" placeholder="premiere tranche d'heures"></td>
          <td><input class="input" type="text" placeholder="premiere tranche d'heures"></td>
        </tr>
        <tr>
          <td class="lignes">Nom du Cours</td>
          <td><input class="input" type="text" placeholder="cours"></td>
          <td><input class="input" type="text" placeholder="cours"></td>
          <td><input class="input" type="text" placeholder="cours"></td>
          <td><input class="input" type="text" placeholder="cours"></td>
          <td><input class="input" type="text" placeholder="cours"></td>
          <td><input class="input" type="text" placeholder="cours"></td>
        </tr>
        <tr>
            <td class="lignes">Professeur</td>
            <td><input type="text" class="input" placeholder="professeur"></td>
            <td><input type="text" class="input" placeholder="professeur"></td>
            <td><input type="text" class="input" placeholder="professeur"></td>
            <td><input type="text" class="input" placeholder="professeur"></td>
            <td><input type="text" class="input" placeholder="professeur"></td>
            <td><input type="text" class="input" placeholder="professeur"></td>
          </tr>
        <tr>
            <td class="lignes">Salle</td>
            <td><input class="input" type="text" placeholder="salle"></td>
            <td><input class="input" type="text" placeholder="salle"></td>
            <td><input class="input" type="text" placeholder="salle"></td>
            <td><input class="input" type="text" placeholder="salle"></td>
            <td><input class="input" type="text" placeholder="salle"></td>
            <td><input class="input" type="text" placeholder="salle"></td>
        </tr>
        <tr class="interligne">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="lignes">Horraires</td>
            <td><input class="input" type="text" placeholder="deuxieme tranche d'heures"></td>
            <td><input class="input" type="text" placeholder="deuxieme tranche d'heures"></td>
            <td><input class="input" type="text" placeholder="deuxieme tranche d'heures"></td>
            <td><input class="input" type="text" placeholder="deuxieme tranche d'heures"></td>
            <td><input class="input" type="text" placeholder="deuxieme tranche d'heures"></td>
            <td><input class="input" type="text" placeholder="deuxieme tranche d'heures"></td>
          </tr>
          <tr>
            <td class="lignes">Nom du Cours</td>
            <td><input class="input" type="text" placeholder="cours"></td>
            <td><input class="input" type="text" placeholder="cours"></td>
            <td><input class="input" type="text" placeholder="cours"></td>
            <td><input class="input" type="text" placeholder="cours"></td>
            <td><input class="input" type="text" placeholder="cours"></td>
            <td><input class="input" type="text" placeholder="cours"></td>
          </tr>
          <tr>
            <td class="lignes">Professeur</td>
            <td><input type="text" class="input" placeholder="professeur"></td>
            <td><input type="text" class="input" placeholder="professeur"></td>
            <td><input type="text" class="input" placeholder="professeur"></td>
            <td><input type="text" class="input" placeholder="professeur"></td>
            <td><input type="text" class="input" placeholder="professeur"></td>
            <td><input type="text" class="input" placeholder="professeur"></td>
          </tr>
          <tr>
            <td class="lignes">Salle</td>
            <td><input class="input" type="text" placeholder="salle"></td>
            <td><input class="input" type="text" placeholder="salle"></td>
            <td><input class="input" type="text" placeholder="salle"></td>
            <td><input class="input" type="text" placeholder="salle"></td>
            <td><input class="input" type="text" placeholder="salle"></td>
            <td><input class="input" type="text" placeholder="salle"></td>
        </tr>
      </table>   
      <p class="ndf"><input type="text" class="note" placeholder="une information particulière à communiquer ? tapez là ici"></p>
      <h1 class="signature">Cordialement, l'administation.</h1> 
      <p class="saveb"><button class="save">SAUVEGARDER</button></p>
{% endblock %}