{% extends 'base/base.html' %}

{% block 'title' %} Communiqué {% endblock %}

{% block 'main' %}
<style>
    .bg-auth {
        background-image: url('/static/img/bg-auth.jpg');
        background-size: cover;
    }
</style>
<div class="insform">
    <h1>Ajouter communiqué</h1>
    <form action method="POST">
        {% if errors %}
        <div class="w-100 justify-content-center">
            <div class="m-auto border-danger">
                <div style="padding: 1rem;" class="text-light">
                    {% for error in errors %}
                    <p> {{ error }} </p>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
        {% csrf_token %}
        <label for="titre">Titre</label><br>
        <input type="text" name="titre" id="titre" 
            placeholder="Ttitre"><br>
        
        <label for="contenu">Contenu</label><br>
        <input type="text" name="contenu" id="contenu" 
            placeholder="Communiqué"><br>

        <button type="submit">Publier</button>
    </form>
</div>
{% endblock %}