{% extends 'base/base.html' %}

{% block 'title' %} Acceuil {% endblock %}

{% block 'main' %}
<style>
    .bg-auth {
        background-image: url('/static/img/bg-auth.jpg');
        background-size: cover;
    }

</style>
<p>
    
<h1 style="color: white; text-transform: uppercase; text-align: center; transform: translateY(140%);">Acceder à
    votre espace d'observation <br>de l'emploie du temps en vous reférant <br> à la barre de navigation</h1> <br>


</p> <br><br><br><br><br>
<br><br>



    
    {% for communique in communiques %}
  
        <div class="communique">
            <h1 style="color: white;">
                {{ communique.titre }}<br>
                {{ communique.contenu }}
            </h1> 
        </div>
        
    {%endfor%}

    






{% endblock %}