{% extends 'base/base.html' %}

{% block 'title' %} Acceuil {% endblock %}

{% block 'main' %}
<style>
    .bg-auth {
        background-image: url('/static/img/bg-auth.jpg');
        background-size: cover;
    }
</style>

<p>
<!-- 
    <li class="deroulant"><a href>Ajouter programme&ensp;</a>
        <ul class="sous">
            {% for niveau in niveaux %}
                <li><a href="{% url 'emploi.niveau' niveau.id %}">Semaine {{ niveau.non }} </a></li>
            {% endfor %}
        </ul>
    </li>
-->


<h1 style="color: white; text-transform: uppercase; text-align: center; transform: translateY(140%);">Acceder à
    votre espace d'observation <br>de l'emploie du temps en vous reférant <br> à la barre de navigation</h1>
</p>


{% endblock %}