{% extends 'base/base.html' %}

{% block 'title' %} Acceuil {% endblock %}

{% block 'main' %}
<style>
    .bg-auth {
        background-image: url('/static/img/bg-auth.jpg');
        background-size: cover;
    }
</style>
<p>
    {% for niveau in niveaux %}
        <a href="{% url 'emploi.niveau' niveau.id %}">{{ niveau.nom }}</a>
    {% endfor %}
    <h1 class="text-light">Bienvenu {{ user.first_name }} {{ user.last_name }} </h1>
<h1 style="color: white; text-transform: uppercase; text-align: center; transform: translateY(140%);">Acceder à
    votre espace d'observation <br>de l'emploie du temps en vous reférant <br> à la barre de navigation</h1>
</p>


{% endblock %}