{% extends 'base/base.html' %}

{% block 'title' %} Emploi par niveau {% endblock %}

{% block 'main' %}

<style>
    .bg-auth {
        background-image: url('/static/img/bg-auth.jpg');
        background-size: cover;
    }
        #customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #e69494;}

#customers tr{
    background-color:#f2f2f2;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #95968a;
  color: white;
}

.emploi-body{
    margin: 4%;
}
.salle{
    color: rgb(187, 82, 82);
}
.heure {
    font-size: 15px;
    font-weight: bold;
}
.prof {
    font-size: 15px;
    font-weight: bold;
}
.emploi-titre{
    text-align: center;
    color: white;
    margin-top: 3%;
}

</style>
<div class="emploi-titre">
    <h3>Emploi du temps du {{ dernieresemaine.date_debut }} au {{ dernieresemaine.date_fin }} Semaine {{ dernieresemaine.nemuro_semaine }} <br>{{niveau.nom}}</h3>
</div>
{% if error %}
    <h3>{{ error }}</h3>
{% else %}
  <div class="emploi-body">
      <table id="customers">
    <tr>
      <th>Lundi</th>
      <th>Mardi</th>
      <th>Mercredi</th>
      <th>Jeudi</th>
      <th>Vendredi</th>
      <th>Samedi</th>
    </tr>
    <tr>
      <td>{% for programme in programmes %}
          
              {% if programme.jour == "Lundi" %}
              
                  <div class="programme-heure">
                      

                      <p>
                        <span class="heure">{{ programme.heure_deb}}h - {{ programme.heure_fin }}h</span>
                        <span>{{ programme.cours.nom_cours }}</span><br>
                        {% for filiere in programme.filieres.all %}
                            <span>{{ filiere.name }},</span><br>
                        {% endfor%}

                        <span class="prof">Prof: {{ programme.enseignant.nom }} {{ programme.enseignant.prenom }}</span><br>
                        <span class="salle">Salle:{{ programme.salle.nom_Salle }}</span>
                      </p>
                  </div>
                  
              
              {% endif %}

          {% endfor %}
      </td>
      <td>{% for programme in programmes %}
          
              {% if programme.jour == "Mardi" %}
              
                  <div class="programme-heure">
                       <p>
                        <span class="heure">{{ programme.heure_deb}}h - {{ programme.heure_fin }}h</span><br>
                        <span>{{ programme.cours.nom_cours }}</span><br>
                        {% for filiere in programme.filieres.all %}
                            <span>{{ filiere.name }},</span><br>
                        {% endfor%}

                        <span class="prof">Prof: {{ programme.enseignant.nom }} {{ programme.enseignant.prenom }}</span><br>
                        <span class="salle">Salle:{{ programme.salle.nom_Salle }}</span>
                      </p>
                  </div>
                  
              
              {% endif %}

          {% endfor %}</td>
      <td>{% for programme in programmes %}
          
              {% if programme.jour == "Mercredi" %}
              
                  <div class="programme-heure">
                      <p>
                        <span class="heure">{{ programme.heure_deb}}h - {{ programme.heure_fin }}h</span><br>
                        <span>{{ programme.cours.nom_cours }}</span><br>
                        {% for filiere in programme.filieres.all %}
                            <span>{{ filiere.name }},</span><br>
                        {% endfor%}

                        <span class="prof">Prof: {{ programme.enseignant.nom }} {{ programme.enseignant.prenom }}</span><br>
                        <span class="salle">Salle:{{ programme.salle.nom_Salle }}</span>
                      </p>
                  </div>
                  
              
              {% endif %}

          {% endfor %}</td>
      <td>{% for programme in programmes %}
          
              {% if programme.jour == "Jeudi" %}
              
                  <div class="programme-heure">
                       <p>
                        <h5>{{ programme.heure_deb}}h - {{ programme.heure_fin }}h</h5>
                        <span>{{ programme.cours.nom_cours }}</span><br>
                        {% for filiere in programme.filieres.all %}
                            <span>{{ filiere.name }}</span><br>
                        {% endfor%} 

                        <span>Prof: {{ programme.enseignant.nom }} {{ programme.enseignant.prenom }}</span><br>
                      <span class="salle">Salle: {{ programme.salle.nom_Salle }}</span>
                      </p>
                  </div>
                  
              
              {% endif %}

          {% endfor %}</td>
      <td>{% for programme in programmes  %}
          
              {% if programme.jour == "Vendredi" %}
              
                  <div class="programme-heure">
                       <p>
                        <h5>{{ programme.heure_deb}}h - {{ programme.heure_fin }}h</h5>
                        <span>{{ programme.cours.nom_cours }}</span><br>
                        {% for filiere in programme.filieres.all %}
                            <span>{{ filiere.name }}</span><br>
                        {% endfor%} 

                        <span>Prof: {{ programme.enseignant.nom }} {{ programme.enseignant.prenom }}</span><br>
                      <span class="salle">Salle: {{ programme.salle.nom_Salle }}</span>
                      </p>
                  </div>
                  
              
              {% endif %}

          {% endfor %}</td>
      <td>
        {% for programme in programmes %}
          
              {% if programme.jour == "Samedi" %}
              
                  <div class="programme-heure">
                       <p>
                        <h5>{{ programme.heure_deb}}h - {{ programme.heure_fin }}h</h5>
                        <span>{{ programme.cours.nom_cours }}</span><br>
                        {% for filiere in programme.filieres.all %}
                            <span>{{ filiere.name }}</span><br>
                        {% endfor%} <br>

                        <span>Prof: {{ programme.enseignant.nom }} {{ programme.enseignant.prenom }}</span><br>
                      <span class="salle">Salle: {{ programme.salle.nom_Salle }}</span>
                      </p>
                  </div>
                  
              
              {% endif %}

          {% endfor %}
      </td>
    </tr>

  </table>
  </div>
{% endif %}


<div class="emploi-titre">
    <h3>Communiqués</h3>
</div>
<div class="emploi-titre">
    
    {% for communique in communiques %}
        <h4>{{  communique.titre }}</h4>
        <h4>{{  communique.contenu }}</h4>
         <h6>{{ communique.date_commu}}</h6>
    {% endfor %}
</div>
{% endblock %}