{% extends 'base/base.html' %}

{% block 'title' %} Creer un compte {% endblock %}

{% block 'main' %}
<style>
    .bg-auth {
        background-image: url('/static/img/bg-auth.jpg');
        background-size: cover;
    }


.container {
  display: flex;
  flex-direction: column;
}

form {
  flex: 1; 
}

.sidebar {
  flex: 1; 
  margin-top: 10%;
}
.row {
  display: flex;
  gap: 20px;
}

.form-group {
  flex: 1;
}
.title {
  color: white;
}
.matiere-title {
  color: white;
}

button[type="submit"] {
  align-self: flex-end;
}

.delete-botton {
  margin-top: 3%;
}




    .programme  {
        width: auto;
        height: auto;
        margin-top: 5%;
        margin-left: 3%;
        margin-right: 3%;
        font-size: 20px;
        color: rgb(168, 168, 243);
        text-align: center;
}

.programme button {
    height: 40px;
    width: 95px;
    background-image: linear-gradient(to left, #e66465, #9198e5);
    border-radius: 8px;
    
}
.programme form input {
    width: 300px;
    height: 35px;
    border-radius: 6px;
    border-style: none;
    margin-bottom: 3vh;
}
.programme form select {
    width: 300px;
    height: 35px;
    border-radius: 6px;
    border-style: none;
    margin-bottom: 3vh;
}

.select-multiple {
    width: 300px;
    height: 75px !important;
    border-radius: 6px;
    border-style: none;
    margin-bottom: 3vh;
}

.prog-text {
    margin-left: 3%;
}
</style>
<div class="programme">
  
    <h1 class="title">Masse horaire des matières enseignées par {{ enseignant.nom }} {{ enseignant.prenom }}</h1>

    {% for cours in cours_distribues %}
    <div>
        <h3 class="matiere-title">{{ cours.cours.nom_cours }} : </h3>
        <p>Masse horaire du cours: {{ cours.cours.masse_horaire }}h</p>
        <p>Nombre d'heures effectuées: {{ cours.total_heures_effectuees }}h</p>
    </div>
{% endfor %}

<p>Total des heures de l'enseignant: {{ total_heures_tous_cours }}h</p>
</div>

{% endblock %}